:root {
    --color-primary: #001342;
    --color-secondary: #BF0E0E;
    --color-text: #0B1F51;
    --color-white: #FFFFFF;
    --color-bg: rgba(0, 8, 29, 0.6);
    --color-bg-01: rgba(0, 19, 66, .15);
    --color-bg-02: rgba(0, 19, 66, .25);
    --color-gray: #D6DBDF;
}